<p-iftalabel>
  <p-select
    [(ngModel)]="selected"
    [class]="
      formGroup.get(formPropertyName)?.errors?.['businessLogicError']
        ? 'ng-dirty ng-invalid w-full'
        : 'w-full'
    "
    [optionLabel]="optionLabel"
    [options]="options"
    formControlName="{{ formPropertyName }}"
    id="{{ formPropertyName }}"
  />
  <label for="{{ formPropertyName }}">{{ label }}</label>
  @if (formGroup.get(formPropertyName)?.errors?.['businessLogicError']) {
    <small id="{{ formPropertyName }}-error" class="text-red-500">
      {{ formGroup.get(formPropertyName)?.errors?.['businessLogicError'] }}
    </small>
  }
</p-iftalabel>
