<ng-template #topBarContent>
  <p-button (onClick)="toggleAddDrawingDialog()" label="Dodaj">
    <i-lucide [img]="Plus" />
  </p-button>
</ng-template>

<app-table [action]="actionButtonRedirect" [cols]="cols" [data]="drawings" />

<app-dialog
  (confirm)="addNewDrawing()"
  [styles]="{ width: '35rem' }"
  [visible]="visible"
  header="Dodaj rysunek"
>
  <form
    (ngSubmit)="addNewDrawing()"
    [formGroup]="drawingForm"
    class="grid gap-4 mt-3"
  >
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="number"
      label="Numer"
    />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="name"
      label="Nazwa"
    />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="revision"
      label="Rewizja"
    />
    <app-select
      [formGroup]="drawingForm"
      [options]="stageOptions"
      formPropertyName="stage"
      label="Etap"
    />
    <app-input [formGroup]="drawingForm" formPropertyName="lot" label="Lot" />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="block"
      label="Blok"
    />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="section"
      label="Sekcja"
    />
  </form>
</app-dialog>
