<app-breadcrumb [navigation]="navigation">
  <p-button
    (onClick)="toggleAddDrawingDialog()"
    icon="pi pi-plus"
    label="Dodaj"
  />
</app-breadcrumb>
<app-table [action]="actionButtonRedirect" [cols]="cols" [data]="drawings" />

<p-dialog
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
  header="Dodaj rysunek"
>
  <form
    (ngSubmit)="addNewDrawing()"
    [formGroup]="drawingForm"
    class="grid gap-4 mt-3"
  >
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="number"
      label="Numer"
    />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="name"
      label="Nazwa"
    />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="revision"
      label="Rewizja"
    />
    <app-select
      [formGroup]="drawingForm"
      [options]="stageOptions"
      formPropertyName="stage"
      label="Etap"
    />
    <app-input [formGroup]="drawingForm" formPropertyName="lot" label="Lot" />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="block"
      label="Blok"
    />
    <app-input
      [formGroup]="drawingForm"
      formPropertyName="section"
      label="Sekcja"
    />
  </form>
  <ng-template pTemplate="footer">
    <p-button
      (onClick)="addNewDrawing()"
      label="Dodaj"
      severity="primary"
      type="submit"
    />
    <p-button
      (click)="visible = false"
      [text]="true"
      label="Anuluj"
      severity="secondary"
    />
  </ng-template>
</p-dialog>
