<p-drawer [(visible)]="visible" #drawerRef>
  <ng-template pTemplate="headless">
    <div class="flex h-full flex-col">
      <div class="flex shrink-0 items-center justify-between px-6 pt-4">
        <span class="text-2xl font-semibold text-primary">Shiptech</span>
        <span>
          <p-button
            (click)="closeCallback($event)"
            outlined="true"
            rounded="true"
            styleClass="h-8 w-8"
            type="button"
          >
            <i-lucide [img]="X" />
          </p-button>
        </span>
      </div>
      <div class="overflow-y-auto">
        <ul class="m-0 list-none p-4">
          @for (shipowner of shipowners; track shipowner.id) {
            <li>
              <a
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="p-ripple flex cursor-pointer items-center p-4 text-surface-700 transition-colors duration-150 rounded-border hover:bg-surface-100 dark:text-surface-100 dark:hover:bg-surface-700"
              >
                <span class="font-medium">{{ shipowner.orderer }}</span>
                <i-lucide [img]="ChevronDown" class="ml-auto" />
              </a>
              <ul
                class="m-0 hidden list-none overflow-y-hidden py-0 pl-4 pr-0 transition-all duration-[400ms] ease-in-out"
              >
                @for (ship of shipowner.ships; track ship.id) {
                  <li>
                    <a
                      pRipple
                      class="p-ripple flex cursor-pointer items-center p-4 text-surface-700 transition-colors duration-150 rounded-border hover:bg-surface-100 dark:text-surface-100 dark:hover:bg-surface-700"
                      href="/drawings/{{ ship.code }}"
                    >
                      <span class="font-medium">{{ ship.code }}</span>
                    </a>
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      </div>
      <div class="mt-auto">
        <hr class="mx-4 mb-4 border-0 border-t border-surface" />
        <a
          class="p-ripple m-4 flex cursor-pointer items-center gap-2 p-4 text-surface-700 transition-colors duration-150 rounded-border hover:bg-surface-100 dark:text-surface-100 dark:hover:bg-surface-700"
          pRipple
        >
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle"
          />
          <span class="font-bold">Amy Elsner</span>
        </a>
      </div>
    </div>
  </ng-template>
</p-drawer>
<p-button (click)="visible = true" class="flex h-10">
  <i-lucide [img]="Menu" />
</p-button>
