<p-table
  #tableRef
  [columns]="cols"
  [globalFilterFields]="filterFields"
  [paginator]="true"
  [rowsPerPageOptions]="[25, 50, 75, 100]"
  [rows]="25"
  [scrollable]="true"
  [value]="data"
  currentPageReportTemplate="{first} do {last} z {totalRecords} wierszy"
  scrollHeight="calc(100vh - 180px)"
  showCurrentPageReport="true"
  sortMode="multiple"
  styleClass="p-datatable-lg p-datatable-gridlines mt-3"
>
  <ng-template let-columns pTemplate="header">
    <tr>
      @for (col of cols; track col) {
        <th pSortableColumn="{{ col.field }}">
          {{ col.header }}
          <p-columnFilter type="text" field="{{ col.field }}" display="menu" />
        </th>
      }
      @if (action) {
        <th>Akcje</th>
      }
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-rowData pTemplate="body">
    <tr>
      @for (col of cols; track col) {
        <td>
          {{ rowData[col.field] }}
        </td>
      }
      @if (action) {
        <td>
          <a href="{{ action(rowData.number) }}">
            <button
              icon="pi pi-arrow-up-right"
              pButton
              pRipple
              type="button"
            ></button>
          </a>
        </td>
      }
    </tr>
  </ng-template>
</p-table>
