<p-iftalabel>
  <input
    [class]="
      formGroup.get(formPropertyName)?.errors?.['businessLogicError']
        ? 'ng-dirty ng-invalid w-full'
        : 'w-full'
    "
    [formControlName]="formPropertyName"
    [value]="value"
    autocomplete="off"
    id="{{ formPropertyName }}"
    pInputText
  />
  <label for="{{ formPropertyName }}">{{ label }}</label>
  @if (formGroup.get(formPropertyName)?.errors?.['businessLogicError']) {
    <small id="{{ formPropertyName }}-error" class="text-red-500">
      {{ formGroup.get(formPropertyName)?.errors?.['businessLogicError'] }}
    </small>
  }
</p-iftalabel>
